general:
  pipeline: 'sap-cloud-sdk'
    
stages:
  Build:
    npmExecuteScripts: true
    
  Additional Unit Tests:
    npmExecuteScripts: true
    testResultsFiles: 'test-results.xml'
    
  Lint:
    npmExecuteLint: true
    
  Release:
    cloudFoundryDeploy: true
    mtaBuild: true
    mtaDeploy: true
    cloudFoundry:
      apiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com'
      org: '7e3bbfebtrial'
      space: 'dev'
      credentialsId: 'cf-credentials'