general:
  pipeline: 'sap-cloud-sdk'
    
stages:
  Build:
    npmExecuteScripts: true
    
  Additional Unit Tests:
    npmExecuteScripts: true
    testResultsFiles: 'test-results.xml'
    
  Lint:
    npmExecuteLint: true
    
  Deploy to Cloud Foundry:
    cfDeploy: true
    cloudFoundry:
      apiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com'
      org: 'cf6c764ftrial'
      space: 'dev'
      appName: 'sap-btp-devops-lifecycle'
      manifest: 'manifest.yml'
      credentialsId: 'cf-credentials'